

.promo {
    padding-top: 20px;
}

.promo__container {
    margin: 0 40px;
    background-color: #272727;
    outline: 1px solid red;
    padding-bottom: 30px;
    border-radius: 10px;
}

.promo__title {
    margin: 0 auto;
    padding: 160px 0 150px;
    color: white;
    text-align: center;

    max-width: 730px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}