.infoPopup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; 
    z-index: 10;
    
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
}

.infoPopup__container {
    background-color: rgb(225, 231, 247);
    width: 30%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 0px 0px 25px rgb(163, 163, 253);
    transition: .3s;
    position: relative;
}

.infoPopup__button {
    position: absolute;
    top: -30px;
    right: -30px;
    background-color: unset;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
}

.infoPopup__button-image {
    cursor: pointer;
    transition: .2s;
}

.infoPopup__button-image:hover {
    opacity: .8;
}

.infoPopup__image-container {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    background-size: 40%;
}

.infoPopup__image-container_type_sad {
    background: url('../../images/sad.png') no-repeat center;
}

.infoPopup__image-container_type_happy {
    background: url('../../images/happy.png') no-repeat center;
}

.infoPopup__text {
    text-align: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0 25px;
    word-wrap: break-word;
}