.header {
    background-color: #202020;
    min-height: 74px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 70px;
    padding: 18px 0 38px;
    position: relative;
}

.header__profile-icon {
    padding: 10px;
    border-radius: 6px;
    background-color: #313131;
    margin-left: 13px;
}

@media (max-width: 768px) {
    .header__container {
        margin: 0 30px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
}

@media (max-width: 320px) {
    .header__container {
        margin: 0 14px;
    }
}