.checkbox {
    width: fit-content;
    margin: 41px auto 0;
    outline: 1px solid red;
    text-align: center;
    display: flex;
    flex-direction: row;
}

/*

.checkbox__name {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
    margin: 0;
    display: inline;
    margin: auto 0;
}

.checkbox__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
}

.checkbox__label {
    margin: auto 0;
    width: fit-content;
    width: 32px;
    height: 20px;
    background-color: #3DDC84;
    border-radius: 20px;
    position: relative;
    margin: auto 12px auto 0;
}

.checkbox__label::before {
    content: '';
    width: 16px;
    height: 16px;
    margin: 2px 0 2px 2px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 100%;
    transition: left .3s ease,
                color .3s ease,
                transform .1s ease;
}

.checkbox__label::before:active {
    transform: scale(0.9);
}
*/

.checkbox__label {
    display: inline-block;
}

.checkbox__checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    appearance: none;
}

.checkbox__name {

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: white;
    margin: 0;
    display: inline-block;
    position: relative;

}

.checkbox__name:before {
    display: block;
    content: "";
    position: absolute;
    left: -48px;
    top: 0;
    width: 36px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    transition: background-color .3s;
}

.checkbox__name::after {
    display: block;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: rgba(61, 220, 132, 1);
    left: -46px;
    top: 2.2px;
    transition: background-color .3s, left .3s;
}

.checkbox__checkbox:checked+.checkbox__name::before {
    background-color: rgba(61, 220, 132, 1);
} /* это как конструкция if 
    если checkbox__checkbox checked, то элемент рядом меняет стиль
*/

.checkbox__checkbox:checked+.checkbox__name::after {
    background-color: white;
    left: -31px;
}
