.auth {
    background-color: #202020;
    font-family: 'Inter';
    font-style: normal;
    padding-bottom: 232px;
    height: 100vh;
}

.auth__container {
    max-width: 396px;
    margin: 0 auto;
    padding-top: 70px;
}

.auth__logo {
    width: fit-content;
    height: fit-content;
}

.auth__logo-image {
    width: 38px;
    height: 38px;
}

.auth__regards {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    color: white;
    margin-bottom: 0;
}

.auth__form {
    margin-top: 40px;
    color: white;
}

.auth__input-label {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #8B8B8B;
    position: relative;
}

.auth__input-label:not(:first-child) {
    margin-top: 20px;
}

.auth__input {
    display: block;
    margin-top: 10px;
    background-color: rgba(47, 47, 47, 1);
    padding: 0;
    border: 0;
    width: 100%;
    height: 46px;
    border-radius: 8px;
    padding-left: 15px;
    box-sizing: border-box;
    color: white;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.auth__input:focus {
    outline: 1px solid white;
}

.auth__error {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #EE3465;
    position: absolute;
    bottom: -16px;
    left: 0;
}

.auth__button {
    margin-top: 80px;
    width: 100%;
    height: 45px;
    background-color: #4285F4;
    color: white;
    padding: 0;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.auth__caption {
    margin: 16px 0 232px;
    text-align: center;
    color: rgba(139, 139, 139, 1);
}

@media (max-width: 768px) {

    .auth__container {
        padding-top: 232px;
    }

}

@media (max-width: 440px) {

    .auth__container {
        margin: 0 30px;
        padding-top: 56px;
    }

    .auth__logo-image {
        margin: 0 auto;
        display: block;
    }

    .auth__regards {
        margin-top: 50px;
        text-align: center;

    }

    .auth__form {
        margin-top: 80px;
    }

    .auth__button {
        margin-top: 150px;
    }

    .auth__caption {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        margin: 14px auto 30px;
    }

}