.footer {
    text-align: center;
    background-color: #202020;
}

.footer__container {
    margin: 0 auto;
    max-width: 1140px;
}


@media (max-width: 1280px) {
    .footer__container {
        margin: 0 70px;
    }
}

.footer__description {
    padding-top: 79px;
    margin: 0;
    color: #8B8B8B;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    min-height: 57px;
    border-top: 1px solid #424242;
}

.footer__year {
    margin: auto 0;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__links {
    margin: auto 0;
}

.footer__link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__link:not(:last-child) {
    margin-right: 20px;
}

@media (max-width: 768px) {
    .footer__container {
        margin: 0 30px;
    }
}

@media (max-width: 320px) {

    .footer__container {
        margin: 0 10px;
    }

    .footer__description {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__information {
        flex-direction: column-reverse;
        padding: 30px 0 20px;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .footer__link {
        font-size: 12px;
        line-height: 15px;
    }

    .footer__link:not(:last-child) {
        margin-bottom: 12px;
        margin-right: 0;
    }

    .footer__year {
        color: #8B8B8B;
        margin-top: 30px;
    }
}