.navtab {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navtab__link {
    text-decoration: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 17px;
    background-color: #303030;
    border-radius: 10px;
    display: block;
}

.navtab__link:not(:last-child) {
    margin-right: 10px;
}

@media (max-width: 320px) {

    .navtab {
        padding: 0 17px;
    }

    .navtab__link {
        padding: 5px 15px;
        border-radius: 6px;
        font-size: 9px;
        width: 78px;
        box-sizing: border-box;
       
        text-align: center;
    }

    .navtab__link:not(:nth-child(3n)) {
        margin-right: 6px;
    }

    .navtab__link:nth-child(n+4) {
        margin-top: 6px;
    }


}